<ion-header>
  <ion-navbar class="title toolbar toolbar-md" showWhen="android"><div class="toolbar-background toolbar-background-md" ng-reflect-klass="toolbar-background" ng-reflect-ng-class="toolbar-background-md" *ngIf="platform.is('android') == true"></div>
    <button class="back-button disable-hover bar-button bar-button-md back-button-md bar-button-default bar-button-default-md show-back-button" ion-button="bar-button" ng-reflect-klass="back-button" ng-reflect-ng-class="back-button-md" style="transition: none; color:white!important;" (click)="dismiss()" showWhen="android">
    <span class="button-inner" showWhen="android">
      <ion-icon class="back-button-icon icon icon-md back-button-icon-md ion-md-arrow-back" role="img" ng-reflect-klass="back-button-icon" ng-reflect-ng-class="back-button-icon-md" aria-label="arrow back" ng-reflect-name="md-arrow-back"></ion-icon>
      <span class="back-button-text back-button-text-md" ng-reflect-klass="back-button-text" ng-reflect-ng-class="back-button-text-md" style="transform: translateX(0px);">Event creation</span>
    </span>
      <div class="button-effect"></div>
    </button>
    <button *ngIf="eventForm" (click)="preview()" [disabled]="!eventForm.valid" style="background: transparent;
    float: right;
    margin: auto;
    height: 100%;
    font-size: 20px;
    padding: 6px;">
      <ion-icon name="eye" showWhen="android"></ion-icon>
    </button>
  </ion-navbar>

  <ion-toolbar showWhen="ios,windows">
    <ion-title>
      Event creation
    </ion-title>
    <ion-buttons start>
      <button *ngIf="eventForm" ion-button (click)="preview()" [disabled]="!eventForm.valid">
        <span color="primary" showWhen="ios">Preview</span>
        <ion-icon name="eye" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end >
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="close" showWhen="windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <ion-icon name="ios-flag-outline" color="sogeti" style="font-size: 15rem; text-align:center;"></ion-icon>


  <form *ngIf="eventForm" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate iOSItem" showWhen="ios">
      <ion-label color="sogeti" fixed>Title</ion-label>
      <ion-input [formControl]="eventForm.controls['title']" placeholder="Event title"></ion-input>
    </ion-item>
    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate androidItem" showWhen="android, windows">
      <ion-label color="sogeti" fixed item-left>Title</ion-label>
      <ion-input [formControl]="eventForm.controls['title']" placeholder="Event title"></ion-input>
    </ion-item>


    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate iOSItem" showWhen="ios">
      <ion-label color="sogeti" fixed>Start</ion-label>
      <ion-datetime displayFormat="DDD-DD-MMMM HH:mm" pickerFormat="DD MMMM YYYY HH:mm" [formControl]="eventForm.controls['dateStart']"></ion-datetime>
    </ion-item>
    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate androidItem" showWhen="android, windows">
      <ion-label color="sogeti" fixed item-left>Start</ion-label>
      <ion-datetime displayFormat="DDD-DD-MMMM HH:mm" pickerFormat="DD MMMM YYYY HH:mm" [formControl]="eventForm.controls['dateStart']"></ion-datetime>
    </ion-item>


    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate iOSItem" showWhen="ios">
      <ion-label color="sogeti" fixed>End</ion-label>
      <ion-datetime displayFormat="DDD-DD-MMMM HH:mm" pickerFormat="DD MMMM YYYY HH:mm" [formControl]="eventForm.controls['dateEnd']"></ion-datetime>
    </ion-item>
    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate androidItem" showWhen="android, windows">
      <ion-label color="sogeti" fixed item-left>End</ion-label>
      <ion-datetime displayFormat="DDD-DD-MMMM HH:mm" pickerFormat="DD MMMM YYYY HH:mm" [formControl]="eventForm.controls['dateEnd']"></ion-datetime>
    </ion-item>

    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate iOSItem" showWhen="ios">
      <ion-label color="sogeti" fixed>Description</ion-label>
      <ion-textarea placeholder="Enter event description here" [formControl]="eventForm.controls['message']" rows="4"></ion-textarea>
    </ion-item>
    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate androidItem" showWhen="android, windows">
      <ion-label color="sogeti" fixed item-left>Description</ion-label>
      <ion-textarea placeholder="Enter event description here" rows="4" [formControl]="eventForm.controls['message']"></ion-textarea>
    </ion-item>


    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate iOSItem" showWhen="ios">
      <ion-label color="sogeti" fixed>Notification</ion-label>
      <ion-toggle color="sogeti" [formControl]="eventForm.controls['notification']"></ion-toggle>
    </ion-item>
    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate androidItem" showWhen="android, windows">
      <ion-label color="sogeti" fixed item-left>Notification</ion-label>
      <ion-toggle color="sogeti" [formControl]="eventForm.controls['notification']"></ion-toggle>
    </ion-item>


    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate androidItem" showWhen="android, windows">
      <ion-label color="sogeti" fixed item-left>Target</ion-label>
      <ion-select [formControl]="eventForm.controls['groups']" *ngFor="let group of groups" multiple="true">
        <ion-option value="{{group._id}}" >{{group.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate iOSItem" showWhen="ios">
      <ion-label color="sogeti" fixed>Target</ion-label>
      <ion-select [formControl]="eventForm.controls['groups']" *ngFor="let group of groups" multiple="true">
        <ion-option value="{{group._id}}" >{{group.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate androidItem innerSpecialBorder" showWhen="android, windows">
      <ion-label color="sogeti" fixed item-left>Address</ion-label>
      <ion-input type="text" (focus)="openMapModal()" [value]="addressInput.description" placeholder="Find address"></ion-input>
    </ion-item>
    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate iOSItem innerSpecialBorder" showWhen="ios">
      <ion-label color="sogeti" fixed >Address</ion-label>
      <ion-input type="text" (focus)="openMapModal()" [value]="addressInput.description" placeholder="Find address"></ion-input>
    </ion-item>

    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate androidItem imgInput innerSpecialBorder" showWhen="android, windows">
      <h2 color="sogeti" fixed item-left>Images</h2>
      <button floating ion-button type="button" (click)="inputFiles.click()">{{triggerFileInput}}</button>
    </ion-item>
    <ion-item padding-vertical class="margin-more animated fadeIn item-remove-animate iOSItem imgInput innerSpecialBorder" showWhen="ios">
      <h2 color="sogeti" fixed>Images</h2>
      <button floating ion-button type="button" (click)="inputFiles.click()">{{triggerFileInput}}</button>
    </ion-item>
    <input type="file"  multiple [formControl]="eventForm.controls['filesInput']" #inputFiles (change)="fileChange(inputFiles)" style="display: none;" accept="image/*"/>


    <ion-list style="text-align:center;" class="listImgPreview">
      <ion-item-sliding *ngFor="let selected of file_srcs">
        <ion-item >
          <ion-img  src="{{selected}}" style=" max-height:200px; margin-top: 5px; "></ion-img>
        </ion-item>
        <ion-item-options>
          <button ion-button color="danger" (click)="removeItemImage(selected)"><ion-icon trash></ion-icon> Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>



    <button ion-button full type="submit" [disabled]="!eventForm.valid" color="sogeti" style="margin-top:10%;">
      <ion-label>Send</ion-label>
    </button>
  </form>
</ion-content>
