page-event-editor-modal {
  .toolbar-title {
    color: white;
    font-family: "OpenSansLight";
  }

  p {
    font-family: "OpenSansLight";
    margin-bottom: 10%;
  }

  .bar-button-default {
    color: #424242 !important;
  }

  .toolbar-background {
    background:rgb(239, 69, 39);
  }

  ion-content {
    background-color: #e9ebee !important;
    text-align: center;
  }




  .androidItem {
    margin-bottom: 10px;


    .item-input {
      background-color: white;
    }

    .item-inner {
      border-bottom: none !important;
      border-left: solid #d8d8d8 1px;
      margin-left: -8px !important;
      padding-left: 10px;
    }

    .input-wrapper#lbl-1 {
      display: none;
    }

    .input-wrapper ion-select {
      width: 100%;
      max-width: 100%;
      padding-left: 0px;
    }

    .item.item-toggle
    {
      background: transparent;
      .item-inner {
        border-left: 0;
      }
    }
  }

  .innerSpecialBorder {
    .item-inner {
      border-left: none;
    }

  }

  .androidItem.innerSpecialBorder {
    .item-inner {
      border-left: none;
      border-left: solid #d8d8d8 1px;
    }
  }

  .imgInput {

    .button {
      color:grey !important;
      background:transparent !important;
      border:none;
      width: 62%;
      margin: 9px 8px 9px 0 !important;
      -webkit-box-shadow: none;
      -moz-box-shadow: none ;
      box-shadow: none;

    }

    .button-ios {
      margin: 0px 8px 9px 0 !important;
    }

    .label-md {
      margin: 0px;
    }

    .button-inner {
      justify-content: flex-start;
    }

    h2 {
      display: inline-block;
      width: 100px;
      margin: 9px 8px 9px 0px !important;
    }

    .label-ios {
      margin: 0px;
    }
  }

  .mapStyle {
    .item-inner {
      margin-left : 33px !important;
      text-align:center;
    }
  }

  .iOSItem {
    background-color: transparent;
    margin-bottom: 10px;

    .input-wrapper#lbl-1 {
      display: none;
    }

    .input-wrapper ion-select {
      width: 100%;
      max-width: 100%;
      padding-left: 0px;
    }

    .item-input {
      background-color: transparent;
    }

    .item.item-toggle
    {
      background: transparent;
      .item-inner {
        border-left: 0;
      }
    }
  }

  .listImgPreview {

    .item {
      padding: 0;
    }

    .item-inner {
      padding: 0 !important;
    }

    ion-label {
      margin: 0 !important;
    }

    ion-img {
      margin: 0 !important;
    }
  }
}
