/*.login {

  background-color: #444444;

  img {
    width: auto;
    display: block;
    margin:auto;
  }
  h2 {
    margin:auto;
    width:auto;
    text-align: center;
    font-family: "OpenSansLight";
    font-size: 18px;
    color: #ececec;
    font-weight: 100;
  }
  span {
    font-family: "OpenSansLight";
  }
  button {
    background: transparent;
    border: solid rgb(239, 69, 39) 1px;
    margin-top: 10%;
  }
  .separator {
    width: 100%;
    height: 1px;
    background-color: #707070;
    margin-bottom: 6%;
  }
  .item.item-input {
    background-color: transparent;
  }
  .item-icon {
    filter: invert(100%);
  }
  .padding-more {
    margin-bottom: 5%;
  }

  .LogOrSign:nth-child(1) {
    color: rgb(239, 69, 39);
  }
  .LogOrSign:nth-child(2) {
    color: #707070;
  }
  .LogOrSign:nth-child(3) {
    color: white;
  }

  .ForgotPwd:nth-child(1) {
      color: #717171;
  }
  .ForgotPwd:nth-child(2) {
    color: #d7d7d7;
  }
}*/

.register {

  background-color: #e9ebee;
  font-family: 'SanFranciscoTextLight' ;



  img {
    width: auto;
    display: block;
    margin:auto;
  }
  h2 {
    margin:auto;
    width:auto;
    text-align: center;
    font-family: "OpenSansLight";
    font-size: 18px;
    color: #000000;
    font-weight: 100;
  }
  span {
    font-family: "OpenSansLight";
  }
  button {
    background: rgb(239, 69, 39);
    margin-top: 10%;
    font-weight: bold;
  }
  button.item-cover {
    background: transparent !important;
  }

  .button.activated {
    background: rgb(211, 64, 39);
  }

  .separator {
    width: 100%;
    height: 1px;
    background-color: #797979;
    margin-bottom: 6%;
  }
  .item.item-input {
    background-color: white;
  }

  .text-input {
    padding-left: 10px;
  }

  .item .item-inner {
    border-bottom: none !important;
    border-left: solid #d8d8d8 1px;
    margin-left: 9px;
  }

  #lbl-4 {
    font-family: "OpenSansLight";
  }

  .item.item-toggle
  {
    background: transparent;
    .item-inner {
      border-left: 0;
    }
  }

  .item-icon {

  }
  .padding-more {
    margin-bottom: 5%;
  }

  .LogOrSign:nth-child(1) {
    color: rgb(239, 69, 39);
  }
  .LogOrSign:nth-child(2) {
    color: #707070;
  }
  .LogOrSign:nth-child(3) {
    color: #707070;
    font-weight: bold;
  }

  .ForgotPwd:nth-child(1) {
    color: #717171;
  }
  .ForgotPwd:nth-child(2) {
    color: #707070;
    font-weight: bold;
  }
}
