<ion-header style="background:rgb(239, 69, 39);">
    <ion-searchbar [(ngModel)]="searchInput" (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>
<ion-content class="chat">
  <p class="title" *ngIf="searchItems.length <= 0">To start a conversation search a contact first!</p>
  <ion-list>
    <button ion-item *ngFor="let item of searchItems" (click)="addConversation(item)">
      <ion-avatar item-left>
        <img class="profileImg" src="{{item.profileImg.relativePath}}">
      </ion-avatar>
      <h2>{{item.name.first}} {{item.name.last}}</h2>
      <h3>{{item.email}}</h3>
      <p>Click to start conversation.</p>
    </button>
  </ion-list>
</ion-content>
