<ion-header style="background:rgb(239, 69, 39);" >
    <ion-searchbar [showCancelButton]="true" type="text" (ionInput)="searchEvent($event)"></ion-searchbar>
</ion-header>
<ion-content class="home">
  <ion-list>
    <ion-item  *ngFor="let event of events" text-wrap class="cardSeparator" >
    <ion-card >
      <ion-item>
        <ion-avatar item-left>
          <ion-img src="{{event.author.profileImg.relativePath}}" (click)="openProfile(event.author._id)"></ion-img>
        </ion-avatar>
        <h2 (click)="openCardDetails(event)">{{event.name}}</h2>
        <p (click)="openCardDetails(event)">{{event.start_at | date : 'dd/MM/yyyy'}}</p>
      </ion-item>

      <ion-slides [options]="mySlideOptions" (click)="openCardDetails(event)">
        <ion-slide *ngFor="let item of event.images" style="margin:auto;">
          <ion-img [src]="item.relativePath" ></ion-img>
        </ion-slide>
      </ion-slides>
      <ion-card-content (click)="openCardDetails(event)" >
        <p>{{event.message}}</p>
      </ion-card-content>

      <ion-row (click)="openCardDetails(event)">
        <ion-col style="margin-left: 10px;">
          <p>{{event.participants.length}} present</p>
        </ion-col>
        <ion-col style="text-align:right; margin-right: 10px;">
          <p>{{event.comments.length}} comments</p>
        </ion-col>
      </ion-row>
      <ion-row style="border-top: 1px solid #cecece;">
        <ion-col style="width: 33%;" *ngIf="hasSuscribed(event) == false"><button ion-button full clear small color="sogeti" (click)="subscribeEvent(event)">
          <ion-icon name="thumbs-up" style="margin-right: 5px;"></ion-icon>
          Subscribe
        </button></ion-col>
        <ion-col style="width: 33%;" *ngIf="hasSuscribed(event) == true"><button ion-button full clear small color="blue" (click)="unsubscribeEvent(event)" >
          <ion-icon name="thumbs-down" style="margin-right: 5px;"></ion-icon>
          Unsubscribe
        </button></ion-col>
        <ion-col style="width: 33%;"><button ion-button full clear small color="sogeti" (click)="openModelComment(event)">
          <ion-icon name="text" style="margin-right: 5px;"></ion-icon>
          Comments</button></ion-col>
        <ion-col style="width: 33%;"><button ion-button full clear small color="sogeti" (click)="openProfile(event.author._id)">
          <ion-icon name="ios-information-circle" style="margin-right: 5px; "></ion-icon>
          Contact
        </button></ion-col>
      </ion-row>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" >
    <ion-infinite-scroll-content loadingSpinner="bubbles"
                                 loadingText="Loading more events..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom >
    <button ion-fab color="sogeti"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="sogeti" (click)="showAlertEventModal()"><ion-icon ios="ios-alert-outline" md="md-alert"></ion-icon></button>
      <button ion-fab color="sogeti" (click)="showAlertModal()"><ion-icon ios="ios-notifications-outline" md="md-notifications"></ion-icon></button>
      <button ion-fab color="sogeti" (click)="showEventCreation()"><ion-icon ios="ios-create-outline" md="md-create"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
